/*Manifestation*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    
    
    
    font-family: Montserrat;
        scroll-behavior: smooth;
        /* font-family: 'Josefin Slab', serif; */
    }
/*Header*/

.st0
{
  background : #454545;
  position : absolute ;
  left : 0;
  top : 54px;
  width : 100%;
  height : 84px;
  padding: 35px;
  text-align: center;
  z-index: 12;
}
h1{

    font-family: 'Josefin Slab', serif;
    padding: 35px;
}
h2{

    padding: 20px;
}


.st0 h1
{
    
    font-size : 22px;
    text-transform : uppercase;
    color : #ffff;
    padding: 20px;
}

.conten
{
width : 600px;  

background : #FFFFFF;
border-style : Solid;
border-color : #000000;
border-width : 1px;
box-sizing: content-box;
position: relative;
margin: 60px;
top: 100px;


}
.photo
{
    background: blue;
    position : relative ;
    padding: 0px 20px;
    margin: 0px 20px;
    margin-top: 5%;
    width : auto;
    height : 222px;
    margin-bottom: 5%;
}
.like_p
{
    background : rgba(235, 45, 57, 0.5);
    position : absolute ;
    left : 84%;
    top : 92%;
    width : 150px;
    height : 63px;
    border-radius : 27px;
    font-family : Myriad Pro;
    font-size : 25px;
    color : #F1F1F1;
    line-height: 60px;
    text-align: center;
} 
.like_p:hover{
    color: white;
    background-color: #02b8dd;
} 

.desc_photo
{
    background : rgba(255, 255, 255, 0.5);
    position : absolute ;
    left : 1%;
    top : 73%;
    width : 280px;
    height : 224px;
}  
.desc_photo h1
{
    font-family : JosefinSlabRoman;
    font-weight : bold;
    font-size : 33px;
    text-transform : uppercase;
    color : #000000;
}
.desc_photo h2
{
    font-family : MontserratRoman;
    font-size : 22px;
    color : #000000;
}


/*like bouton*/

.like-button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 90%;
    top: 90%;
    border-radius : 27px;
}

  
.heart-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('like.svg');
    background-size: cover;
    margin-right: 10px;
}
  
.like-button.clicked {
    background-color: white;
}
.like-count {
    margin-left: 10px;
}
  


#myButton {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #myButton.clicked {
    background-color: #EB2D39;
  }


  .bck
{
    background : #454545;
    position : fixed;
    left : 92.5%;
    top : 40%;
    width : 120px;
    height : 200px;
}


.bk
{
    background : #EB2D39;
    font-family : Myriad Pro;
    font-size : 22px;
    text-transform : uppercase;
    color : #FFFFFF;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 35%;
    width : 88px;
    height : 63px;
    border-radius : 29px;
}  
.bk:hover
{
    color: white;
    background-color: #02b8dd;
}