@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.left {
  width: 100%;
  height: 100%;
  background-color: orange;
}
.left h1 {
  /* width: 40%;
  height: 30%; */
  font-size: 36px;
  margin-top: 400px;
  margin-left: -500px;
  color:#fff;
  background-color: orange;
}
.logo2 {
  display: flex;
  align-items: center;
  margin-top:-15%;
  position: relative; /* Ajout de la propriété position pour que la valeur left soit prise en compte */
  left: -10%; /* Déplace l'image vers la gauche de 20% */
  margin-bottom: 45px;
}

.logo2 img {
  width: 700px; /* Modification de la largeur de l'image à 150px */
  height: 400px;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 5%;
  position: relative; /* Ajout de la propriété position pour que la valeur left soit prise en compte */
  left: 0%; /* Déplace l'image vers la gauche de 20% */
  margin-bottom: 45px;
}

.logo img {
  width: 280px; /* Modification de la largeur de l'image à 150px */
  margin-right: 5rem;
  margin-top: 10px;
}

#localisation
{
    margin-bottom: 5%;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 100px;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 55%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}


.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

/* .heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
  margin-bottom: 45px;          Ajout d'une marge de 10px entre la classe heading h6 et la classe input-field */
/* } */

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-radius: 50px;
  outline: #bbb;
  border-bottom: 1px solid #bbb;
  padding-left: 15px;
  font-size: 0.95rem;
  color:  #6a6a6e;/*#151111; */
  transition: 0.4s;
  top: calc(20% - 1px);
}

label {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #6a6a6e;/* #151111;*/
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: orange;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0px;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #6a6a6e;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}


.para
{
  position: absolute;
  left: 45%;
  top: 75%;
  font-size: 25px;
  color: #bbb;
}

.dir_incrip
{
  position: absolute;
  left: 37%;
  top: 88%;
  color: red;
  text-decoration: none;
}
.dir_incrip:hover
{
  color: white;
  background-color : #02b8dd;
}
#left
{
    margin-left: 70px;
    width: 590px;
}
@media (max-width: 900px) {

  .container div {
   display: flex;
   flex-direction: column;
   height: 35%;
 }
  .left {
  width: 100%;
  height: 100%;
  background-color: orange;
 }
  .logo2 {
  display: flex;
  align-items: center;
  margin-top: 5%;
  position: relative; /* Ajout de la propriété position pour que la valeur left soit prise en compte */
  left: 0%; /* Déplace l'image vers la gauche de 20% */
  margin-bottom: 45px;
 }
 .logo2 img{
    width: 600px; /* Modification de la largeur de l'image à 150px */
    height: 400px;/* margin-right: 5rem;
    margin-top: 5rem; */
  }
  .forms-wrap {
    /* max-width: 260px; */
    width: 100%;
    margin-top: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: -55%;
    /* grid-column: 1 / 2;
    grid-row: 1 / 2; */
    transition: opacity 0.02s 0.4s;
  }

}

